apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: default
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    name: external
  - port: 9093
    targetPort: 9093
    name: internal
  selector:
    app: kafka

