apiVersion: v1
kind: Service
metadata:
  name: telemetry-server
  namespace: default
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    name: http
  selector:
    app: telemetry-server

